.footer_bright{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    padding: 0.2rem 2rem;
    position: absolute;
    left:0;
    bottom: 0;
    width: 100vw;
    background-color: #3f51b5;
}
.footer_dark{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #dad5c3;
    margin: 0;
    padding: 0.2rem 2rem;
    position: absolute;
    left:0;
    bottom: 0;
    width: 100vw;
    background-color: #59405C;
}

.content{
    width: 100%;
    max-width: 1024px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center; 
    
}

.textAndLink{
    display: flex;
}

.link{
    margin-left: 0.5rem;
    color: #f884ad;
    display: block;
}
a:hover{
    transform: scale(1.1);
}
