.editingForm{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    transition: all 0.5s;
}
.listItem__buttons{
    margin-left: 1rem;
    display: flex;
}

@media(max-width:520px){
    .editingForm{
        width: 100%;
    }
}