.editingForm{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    transition: all 0.5s;
}
.listItem__buttons{
    margin-left: 1rem;
    display: flex;
}

.button{
    margin: 0.1rem !important;
  }
  
  .button_dark_primary{
    background-color: rgb(72, 100, 72) !important;
  }
  .button_dark_secondary{
    background-color: #6a476d !important;
  }

  @media(max-width:520px){
    .editingForm{
        width: 100%;
    }
}