.input{
  border-bottom: 1px solid #949393 !important;
  padding-bottom: 0.5rem !important;
}
Input{
  color: #949393 !important;
  font-weight: 700 !important;
}
label{
  color: #949393 !important;
  font-weight: 700 !important;
}