.App_bright{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.App_dark{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    background-color: #464255;
    color: #dad5c3 !important;
    
}

.container{
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 1024px;
 }
