.form {
    margin-bottom: 2rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#standard-basic-label{
    color:aliceblue !important;
    background-color: aliceblue !important;
}


